.auth-main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.auth-form h1,h4{
    text-align: center;
}

.auth-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #444054;
    margin-top: 10px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
}

.auth-form h2{
    background-color: #444054;
    color: #E6E6E6;
}

.form{
    border-radius: 10px;
    margin-top: 20px;
    width: 100%;
}

.form input{
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    color: #444054;
    border: none;
    font-size: 14px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    transition: padding 0.3s ease-in-out;
}

.form input:hover{
    padding: 13px;
}

.button{
    margin-top: 20px;
    padding: 10px 35px;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.button:hover{
    cursor: pointer;
    background-color: #7F7EFF;
    color: #E6E6E6;
}

.bottom-p{
    margin-top: 10px;
    background-color: #444054;
    color: #E6E6E6;
    text-align: center;
}

.special-p{
    cursor: pointer;
    color: #7F7EFF;
    background-color: #444054;
    text-decoration: none;
    transition: font-size 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
    text-align: center;
}

.special-p:hover{
    font-size: 17px;
    text-shadow: 0 0 20px rgba(230, 230, 230, 0.8);
}

.error-p{
    background-color: #444054;
    text-align: center;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Responsive Sizing */
@media (max-width: 780px){
    .auth-main h1{
        font-size: 30px;
    }
    .auth-main h4{
        font-size: 20px;
    }

    .error-p{
        font-size: 15px;
    }
}

@media (max-width: 650px){
    .auth-main h1{
        font-size: 25px;
    }
    .auth-main h4{
        font-size: 15px;
    }

    .bottom-p{
        font-size: 14px;
    }

    .error-p{
        font-size: 12px;
    }
}

@media (max-width: 480px){
    .auth-main h1{
        font-size: 21px;
        text-align: center;
    }
    .auth-main h4{
        font-size: 17px;
    }

    .auth-form h2{
        font-size: 18px;
    }

    .auth-form{
        padding: 10px;
    }

    .form{
        /* margin: 10px; */
    }

    .form input{
        font-size: 12px;
    }

    .bottom-p{
        font-size: 12px;
        text-align: center;
    }

    .error-p{
        font-size: 10px;
    }
}